### 피드백
"""
몇가지 기대한 동작이 잘 작동하지 않아서 이 부분 수정이 필요해보여요
그리고 몇가지 개선할 수 있는 부분에 코멘트 달아뒀는데 확인해주시고 다시 요청 보내주세요 😊

On src/hooks/useOrderForm.ts:

이 파일은 사용하지 않는 것으로 보이는데 삭제 부탁드려요
빌드 시 오류가 발생하네요.!

On src/contexts/ModalContext.tsx:

모달 컨텍스트도 잘 분리해주셨네요 👍

In src/models/OrderFormModel.ts:

> -    if (!validateRequired(this.senderName)) {
-      errors.senderName = '보내는 사람 이름을 입력해주세요.';
-    }
-    if (!validateRequired(this.receiverName)) {
-      errors.receiverName = '받는 사람 이름을 입력해주세요.';
-    }
-    if (!validateRequired(this.receiverPhoneNumber)) {
-      errors.receiverPhoneNumber = '전화번호를 입력해주세요.';
-    } else if (!validatePhoneNumber(this.receiverPhoneNumber)) {
-      errors.receiverPhoneNumber = '올바른 전화번호 형식이 아닙니다. (01012341234)';
-    }
-    if (this.quantity < 1) {
-      errors.quantity = '수량은 1개 이상이어야 합니다.';
+export const ReceiversModel = z
+  .object({
+    receivers: z.array(ReceiverModel).max(10, '최대 10명까지 추가할 수 있어요.'),
받는 사람 최소 기준도 필요해보여요
현재 받는 사람을 추가하지 않아도 주문이 성공하네요

In src/components/OrderForm.tsx:

>  }

-export function OrderForm({
-  form,
-  errors,
-  updateForm,
-  handleSubmit,
-  totalPrice,
-}: OrderFormProps) {
+export const OrderForm = forwardRef<HTMLFormElement, OrderFormProps>(({ selectedCard }, ref) => {
+  const { receivers, setReceivers } = useOrderStore();
스토어에 따로 받는사람을 저장해주시는 이유가 있을까요? useForm에서 상태를 관리하고 있어서 불필요하다고 생각이 드네요

In src/pages/OrderPage.tsx:

> +      {createPortal(
+        <OrderButton onClick={handleOrderSubmit}>
+          {totalPrice.toLocaleString()}원 주문하기
+        </OrderButton>,
+        document.body as HTMLElement
       )}
주문 버튼은 포탈로 빼주신 이유가 있을까요? 폼과 관련된 컨텍스트이니 같은 DOM 트리 안에 있는게 더 어울려 보여요

In src/components/OrderForm.tsx:

> +  useEffect(() => {
+    if (selectedCard) {
+      methods.setValue('message', selectedCard.defaultTextMessage);
+    }
+  }, [selectedCard, methods]);
이 부분은 개인적인 의견인데요, useEffect는 사이드 이팩트를 관리하는 훅이라 생각해 이런 상태 업데이트 관련해서는 이벤트 핸들러에 넣는 것을 추천드려요. 이 로직은 카드 클릭 이벤트에 들어갈 수 있어보여요.

useEffect가 언제 실행되는지, 그 안에서 상태가 변경되면 또 어떤 일이 일어나는지 고민해보시면 좋아보여요 😊

In src/hooks/useLoginForm.ts:

> +  const emailInput = useInput({
+    validator: validateEmail,
+  });
지금 로그인에서 문제가 있는데요,
입력이 없을 때 change 이벤트가 발동하지 않아 useInput의 handleChange 내 분기처리가 일어나지 않고 있어요. 그래서 기본값으로 isFormValid가 true가 되네요. 이 부분도 수정이 필요해보여요

On src/models/LoginFormModel.ts:

이 파일은 작성하고 사용하지 않고 있네요. 확인 부탁드려요 😊

In src/components/ReceiverModal.tsx:

> +  const methods = useForm<ReceiversModelType>({
+    resolver: zodResolver(ReceiversModel),
+    defaultValues: {
+      receivers,
+    },
+    mode: 'onSubmit',
+    reValidateMode: 'onSubmit',
+  });
+
+  const { fields, append, remove } = useFieldArray({
+    control: methods.control,
+    name: 'receivers',
+  });
주문 폼이나 이 받는 사람 폼 로직도 훅으로 분리해보면 어떨까요?

—
"""

### '임시' 커밋(f52e8c943342044af1175ef68cbc20dc535097ab)을 분석하여, 위의 피드백을 반영한 수정사항들을 확인하고, 커밋메시지 예시를 작성해줘.

